* {
    font-family: 'Asap', sans-serif;
    color: white;
}

body {
    background-color: black;
}

#maincontent {
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 100%;
}

.wht {
    margin-top: 0px;
    font-size: 400%;
}

.divider {
    background-color: white;
    border-radius: 5px;
    height: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

.tableHistory{
    margin-left: 20px;
    margin-right: 20px;
}

table {
    font-size: 200%;
}

table th {
    border-bottom: 3px solid white;
}

table td {
    border-bottom: 1px solid white;
}

.login {
    padding-top: 25%;
}

.footer {
    text-align: center;
    color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}