* {
    font-family: 'Asap', sans-serif;
}

body {
    background-color: black;
}

#banner {
    background-color: black;
    height: 100vh;
}

.login-background{
    height: 100vh;
    padding-top: 5%;
}

#banner-white{
    background-color: white;
    border-radius: 5px;
    height: 50vh;
}

.wht{
    color: white;
}

#title{
    padding: 0%;
    margin: 0%;
}

.counter{
    font-size: 2000%;
}

.button {
    margin: auto;
}

.footer {
	text-align: center;
  color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}